---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: prometheus-alertmanager
spec:
  interval: 60m
  timeout: 10m

  maxHistory: 2
  driftDetection:
    mode: enabled
    ignore:
      - paths: ["/spec/replicas"]
        target:
          kind: StatefulSet

  chart:
    spec:
      chart: alertmanager
      version: 1.29.0
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3

  valuesFrom:
    - kind: ConfigMap
      name: prometheus-alertmanager-helm-values
    - kind: ConfigMap
      name: prometheus-alertmanager-route-helm-values
      optional: true
    - kind: Secret
      name: prometheus-alertmanager-helm-values
      optional: true
